<div data-ng-controller="loginController" class="container">
  <h1 class="centered big-top-margin">Golf Scorecard</h1>
  <h2 class="centered">Sign In</h2>
  <form name="userform" data-ng-hide="newuser" class="form-login">
    <input type="text" required ng-model="user.username" placeholder="username">
    <input type="text" required ng-model="user.password" placeholder="password">
    <button data-ng-disabled="userform.$invalid" ng-click="login()" class="btn-submit">Login</button>
  </form>
  <a href="/#/signup" class="signup-link">Create a new account</a>
</div>
